body {
    font-family: 'Times New Roman', Times, serif;
    color: #333333;
    font-size: 14px ;
    line-height: 20px;
}

.heading {
    margin-top: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;

}

.container {
    display: block;
    border-style: solid;
    border-width: 0px;
    border-color: white;
    box-shadow: 0 0 0 0 #ffffff;
    text-align: center;
    letter-spacing: normal;
    -o-object-fit: none;
    object-fit: none;

}

.text-span  {
    position: relative;
    z-index: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 400;
}

.text-block {
    border: 1px none #000000;
    box-shadow: 1px 1px 3px 0 #000000;
    opacity: 1;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.column {
    border: 1px none #000000;

}

.div-block {
    border: 1px none #000000;

}

.body {
    display: block;
    clear: none;
    box-shadow: inset 0 0 0 0 #ffffff;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    text-align: left;
}

.container-2 {
    border: 1px solid #ffffff;
}

.button_div {
    border: 1px solid #ffffff;
    text-align: center;
}

.button {
    width: 300px;
    height: 70px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: 100px;
    padding-left: 20px;
    border-radius: 9px;
    background-color: rgba(56,146,236,0.76);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    text-shadow: 1px 1px 6px #000000;
    color: white;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
 
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .toggle_button {
    margin-top: 50px;
  }

  table {
    border: 1px solid #fff;
    border-collapse: collapse;
}
#ai_menu {
  display: none;
}

